@(loginForm:Form[(String,String)])(implicit request: play.api.mvc.Request[Any])

@main(None,"Login page",""){
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div style="padding-top: 10px" class="panel-body">
            <div @if(request.flash.isEmpty){style="display: none"} id="login-alert" class="alert alert-danger col-sm-12">
                @if(!request.flash.isEmpty){
                    @request.flash.get("error")
                }
            </div>
            @helper.form(action = routes.SecurityController.doLogin(),args ='class->"form-signin",'role->"form") {
                <h2 class="form-signin-heading">Please sign in or sign up</h2>
                <div style="margin-bottom: 25px" class="input-group">
                    <input type="text" class="form-control" autofocus="" required=""
                    placeholder="Username" value="@loginForm.apply("username").value.getOrElse("")" name="username">
                    <input type="password" class="form-control" autofocus="" required=""
                    placeholder="Password" value="@loginForm.apply("password").value.getOrElse("")" name="password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            }
        </div>
    </div>
}