@(messages:List[Message],listTitle:String,active:String,user:String)


@main(Option(user),listTitle,active){
    <div class="col-md-12 col-sm-8">
    @for(message <- messages){
        <div class="panel panel-info" id="message-@message.id">
            <div class="panel-heading">@Html(message.title) @if(message.username.isDefined){(by @message.username.get)}</div>
            <div class="panel-body">@Html(HtmlFormat.escape(message.text).toString.replace("\n", "<br />"))</div>
        </div>
    }
    </div>
}